In [7]:
import pandas as pd
from datetime import datetime
from datetime import timezone
from datetime import timedelta
import numpy as np
from ib_insync import *

In [2]:
util.startLoop()
ib = IB()
ib.connect('127.0.0.1', 7496, clientId=15)

In [57]:
def process_data(tick):
    df = pd.DataFrame(tick)
    dftime_local = df['time']
    df['time'] = pd.to_datetime(dftime_local, '%Y-%m-%d %H:%M:%S').astype(str).map(lambda x: str(x)[0:19])
    
    long = len(df)
    avg_price = (df.priceBid + df.priceAsk)/2
    ttl_volume = df.sizeBid + df.sizeAsk

    new_df = pd.DataFrame(np.random.randn(long,3),columns=['time','price','volume'])
    new_df['time'] = df.time
    new_df['price'] = avg_price
    new_df['volume'] = ttl_volume
    return new_df

In [58]:
def data_convert(ticks):
    df = pd.DataFrame(index =ticks.time.values)
    df['price'] = ticks['price'].values
    df['volume'] = ticks['volume'].values
    return df

In [72]:
def check_excess(start,ticks,end):
    
    ticks = ticks[pd.to_datetime(ticks.index,utc=True)<=pd.to_datetime(end,utc=True)]
    ticks = ticks[pd.to_datetime(ticks.index,utc=True)>=pd.to_datetime(start,utc=True)]
    return ticks

In [75]:
def utc_to_local(utc_dt):
    return utc_dt.replace(tzinfo=timezone.utc).astimezone(tz=None)
def his_tick_extract(start,end,contracts):
    #start: start time for tick data
    #end: end time for tick data
    ib.qualifyContracts(*contracts)
    amd = contracts[0]
    temp_start = start
    ticks=pd.DataFrame(columns = ['time','price','volume'])
    while  pd.to_datetime(temp_start,utc=True) <= pd.to_datetime(end,utc=True):
        temp_end = ''
        tick = ib.reqHistoricalTicks(amd, temp_start, temp_end, 1000, 'BID_ASK', useRth=False)
        temp_start = tick[-1][0]
        print("Tick data length",len(tick))
        if len(tick)<1000:
            print('Jump at this time')
            temp_start += timedelta(seconds=1)
        print(temp_start)
        tick = pd.DataFrame(tick)
        tick = process_data(tick)
        tick['count'] = tick.groupby(['time','price','volume']).cumcount()
        ticks['count'] = ticks.groupby(['time','price','volume']).cumcount()

        ticks = pd.concat([ticks,tick], ignore_index=False)
        ticks = ticks.drop_duplicates()
        ticks = ticks.drop(['count'], axis=1)
    ticks = data_convert(ticks)
    ticks = check_excess(start,ticks,end)
    return ticks

In [76]:
start = datetime(2019, 7, 2, 0, 0, 0, 0, tzinfo=timezone.utc)
end = datetime(2019, 7, 2, 0, 10, 0, 0, tzinfo=timezone.utc)
contracts = [Forex(pair) for pair in ('EURUSD', 'USDJPY', 'GBPUSD', 'USDCHF', 'USDCAD', 'AUDUSD')]
tick1=his_tick_extract(start,end,contracts)

Tick data length 1017
2019-07-02 00:05:02+00:00
Tick data length 1016
2019-07-02 00:07:35+00:00
Tick data length 1021
2019-07-02 00:11:03+00:00

In [77]:
tick1

                        price    volume
2019-07-02 00:00:00  1.128695   3000000
2019-07-02 00:00:00  1.128695   4000000
2019-07-02 00:00:01  1.128695   4000000
2019-07-02 00:00:01  1.128695   5000000
2019-07-02 00:00:01  1.128695   5000000
2019-07-02 00:00:01  1.128695   6000000
2019-07-02 00:00:01  1.128700   7000000
2019-07-02 00:00:01  1.128700   6000000
2019-07-02 00:00:01  1.128700   7000000
2019-07-02 00:00:01  1.128700  10000000
2019-07-02 00:00:01  1.128700  11000000
2019-07-02 00:00:01  1.128700  10000000
2019-07-02 00:00:01  1.128700  11000000
2019-07-02 00:00:01  1.128700   8000000
2019-07-02 00:00:01  1.128700   7000000
2019-07-02 00:00:01  1.128700   8000000
2019-07-02 00:00:01  1.128700   9000000
2019-07-02 00:00:01  1.128700   8000000
2019-07-02 00:00:01  1.128700   7000000
2019-07-02 00:00:01  1.128700   8000000
2019-07-02 00:00:02  1.128700   7000000
2019-07-02 00:00:03  1.128700   6000000
2019-07-02 00:00:04  1.128700   7000000
2019-07-02 00:00:05  1.128700   6000000
2019-07-02 00:00:05  1.128700   5000000
2019-07-02 00:00:06  1.128700   6000000
2019-07-02 00:00:09  1.128695   2000000
2019-07-02 00:00:09  1.128695   3000000
2019-07-02 00:00:09  1.128685   7000000
2019-07-02 00:00:09  1.128685   6000000
...                       ...       ...
2019-07-02 00:10:00  1.128460   8000000
2019-07-02 00:10:00  1.128470   8000000
2019-07-02 00:10:00  1.128470   7000000
2019-07-02 00:10:00  1.128470   7000000
2019-07-02 00:10:00  1.128470   8000000
2019-07-02 00:10:00  1.128470   7000000
2019-07-02 00:10:00  1.128470   6000000
2019-07-02 00:10:00  1.128470   7000000
2019-07-02 00:10:00  1.128470   8000000
2019-07-02 00:10:00  1.128470   9000000
2019-07-02 00:10:00  1.128470  10000000
2019-07-02 00:10:00  1.128470   9000000
2019-07-02 00:10:00  1.128470  12000000
2019-07-02 00:10:00  1.128470  11000000
2019-07-02 00:10:00  1.128470  10000000
2019-07-02 00:10:00  1.128470   9000000
2019-07-02 00:10:00  1.128470  10000000
2019-07-02 00:10:00  1.128470  11000000
2019-07-02 00:10:00  1.128470  12000000
2019-07-02 00:10:00  1.128470  11000000
2019-07-02 00:10:00  1.128485   3000000
2019-07-02 00:10:00  1.128485   2000000
2019-07-02 00:10:00  1.128485   3000000
2019-07-02 00:10:00  1.128470  13000000
2019-07-02 00:10:00  1.128490   9000000
2019-07-02 00:10:00  1.128490   8000000
2019-07-02 00:10:00  1.128490   9000000
2019-07-02 00:10:00  1.128485   2000000
2019-07-02 00:10:00  1.128485   3500000
2019-07-02 00:10:00  1.128485   2000000

[2707 rows x 2 columns]

In [55]:
#tick1['time'] = tick1.index
t1 = tick1.iloc[:1017,:]
t2 = tick1.iloc[1017:,:]
t1['1']=1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [56]:
t1['count'] = t1.groupby(['time','price','volume']).cumcount()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [40]:
t1['count'] = t1.groupby(['time','price','volume']).cumcount()
t2['count'] = t2.groupby(['time','price','volume']).cumcount()

df_tot = pd.concat([t1,t2], ignore_index=False)
df_tot = df_tot.drop_duplicates()
df_tot = df_tot.drop(['count'], axis=1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [43]:
df_tot.iloc[:1017,:]
df_tot.iloc[1017:,:]

                     time     price    volume
1055  2019-07-02 00:05:03  1.128730   8000000
1056  2019-07-02 00:05:03  1.128730   8500000
1057  2019-07-02 00:05:03  1.128730   7500000
1058  2019-07-02 00:05:03  1.128730   6500000
1059  2019-07-02 00:05:03  1.128730   5500000
1060  2019-07-02 00:05:05  1.128730   4500000
1061  2019-07-02 00:05:05  1.128730   5500000
1062  2019-07-02 00:05:05  1.128730   7500000
1063  2019-07-02 00:05:05  1.128730   8500000
1064  2019-07-02 00:05:05  1.128730   7500000
1065  2019-07-02 00:05:05  1.128730   6500000
1066  2019-07-02 00:05:05  1.128730   7500000
1067  2019-07-02 00:05:05  1.128730   7500000
1068  2019-07-02 00:05:05  1.128730   8500000
1069  2019-07-02 00:05:05  1.128730   9500000
1070  2019-07-02 00:05:05  1.128730   8500000
1071  2019-07-02 00:05:05  1.128715   4000000
1072  2019-07-02 00:05:05  1.128705   7000000
1073  2019-07-02 00:05:05  1.128705   8000000
1074  2019-07-02 00:05:05  1.128705   7000000
1075  2019-07-02 00:05:05  1.128705   8000000
1076  2019-07-02 00:05:05  1.128705   7000000
1077  2019-07-02 00:05:05  1.128705   6000000
1078  2019-07-02 00:05:05  1.128705   7000000
1079  2019-07-02 00:05:05  1.128695   6000000
1080  2019-07-02 00:05:05  1.128695   7000000
1081  2019-07-02 00:05:05  1.128695   8000000
1082  2019-07-02 00:05:05  1.128695   8500000
1083  2019-07-02 00:05:05  1.128695   7500000
1084  2019-07-02 00:05:05  1.128695   7500000
...                   ...       ...       ...
3024  2019-07-02 00:11:03  1.128595   5000000
3025  2019-07-02 00:11:03  1.128590   9500000
3026  2019-07-02 00:11:03  1.128585   5500000
3027  2019-07-02 00:11:03  1.128585   4500000
3028  2019-07-02 00:11:03  1.128585   5500000
3029  2019-07-02 00:11:03  1.128585   4500000
3030  2019-07-02 00:11:03  1.128575   7000000
3031  2019-07-02 00:11:03  1.128575   6000000
3032  2019-07-02 00:11:03  1.128575   5000000
3033  2019-07-02 00:11:03  1.128575   6000000
3034  2019-07-02 00:11:03  1.128575   7500000
3035  2019-07-02 00:11:03  1.128575   6500000
3036  2019-07-02 00:11:03  1.128560  11000000
3037  2019-07-02 00:11:03  1.128555   9000000
3038  2019-07-02 00:11:03  1.128555   8000000
3039  2019-07-02 00:11:03  1.128555   7000000
3040  2019-07-02 00:11:03  1.128555   6000000
3041  2019-07-02 00:11:03  1.128555   7000000
3042  2019-07-02 00:11:03  1.128555   6000000
3043  2019-07-02 00:11:03  1.128555   5000000
3044  2019-07-02 00:11:03  1.128555   6000000
3045  2019-07-02 00:11:03  1.128555   5000000
3046  2019-07-02 00:11:03  1.128555   6000000
3047  2019-07-02 00:11:03  1.128555   7000000
3048  2019-07-02 00:11:03  1.128555   6000000
3049  2019-07-02 00:11:03  1.128555   5000000
3050  2019-07-02 00:11:03  1.128555   6000000
3051  2019-07-02 00:11:03  1.128555   7000000
3052  2019-07-02 00:11:03  1.128555   6000000
3053  2019-07-02 00:11:03  1.128555   7000000

[1999 rows x 3 columns]