In [2]:
import pandas as pd
from datetime import datetime
from datetime import timezone
import numpy as np
from ib_insync import *

In [3]:
def utc_to_local(utc_dt):
    return utc_dt.replace(tzinfo=timezone.utc).astimezone(tz=None)
def his_tick_extract(start,end,contracts):
    #start: start time for tick data
    #end: end time for tick data
    util.startLoop()
    ib = IB()
    ib.connect('127.0.0.1', 7496, clientId=15)
    ib.qualifyContracts(*contracts)
    amd = contracts[0]
    temp_start = start
    ticks=[]
    while  pd.to_datetime(temp_start,utc=True) <= pd.to_datetime(end,utc=True):
        temp_end = ''
        tick = ib.reqHistoricalTicks(amd, temp_start, temp_end, 1000, 'BID_ASK', useRth=False)
        print(temp_start)
        temp_start = tick[-1][0]
        ticks += tick
    df = pd.DataFrame(ticks)
    dftime_local = df['time'].dt.tz_convert('America/New_York')
    df['time'] = pd.to_datetime(dftime_local, '%Y-%m-%d %H:%M:%S').astype(str)
    
    long = len(df)
    df.index = df.time
    avg_price = (df.priceBid + df.priceAsk)/2
    ttl_volume = df.sizeBid + df.sizeAsk

    new_df = pd.DataFrame(np.random.randn(long,2),columns=['price','volume'])
    new_df.index = df.time
    new_df['price'] = avg_price
    new_df['volume'] = ttl_volume
    new_df.index = new_df.index.map(lambda x: str(x)[0:19])
    return new_df

In [4]:
start = datetime(2019, 7, 3, 16, 4, 30, 1231, tzinfo=timezone.utc)
end = datetime(2019, 7, 3, 16, 23, 5, 1231, tzinfo=timezone.utc)
contracts = [Forex(pair) for pair in ('EURUSD', 'USDJPY', 'GBPUSD', 'USDCHF', 'USDCAD', 'AUDUSD')]
tick1=his_tick_extract(start,end,contracts)

2019-07-03 16:04:30.001231+00:00
2019-07-03 16:06:41+00:00
2019-07-03 16:09:20+00:00
2019-07-03 16:11:29+00:00
2019-07-03 16:13:54+00:00
2019-07-03 16:15:28+00:00
2019-07-03 16:16:23+00:00
2019-07-03 16:17:49+00:00
2019-07-03 16:19:30+00:00
2019-07-03 16:20:55+00:00
2019-07-03 16:22:14+00:00

In [5]:
tick1

                        price   volume
time
2019-07-03 12:04:29  1.127445  5000000
2019-07-03 12:04:31  1.127445  4000000
2019-07-03 12:04:35  1.127455  9500000
2019-07-03 12:04:35  1.127455  8500000
2019-07-03 12:04:36  1.127445  4000000
2019-07-03 12:04:36  1.127445  5000000
2019-07-03 12:04:37  1.127445  8000000
2019-07-03 12:04:37  1.127445  5000000
2019-07-03 12:04:37  1.127445  4000000
2019-07-03 12:04:37  1.127445  5000000
2019-07-03 12:04:37  1.127445  4500000
2019-07-03 12:04:37  1.127445  3500000
2019-07-03 12:04:38  1.127445  2500000
2019-07-03 12:04:38  1.127455  9000000
2019-07-03 12:04:38  1.127445  1500000
2019-07-03 12:04:39  1.127445  2500000
2019-07-03 12:04:39  1.127445  3500000
2019-07-03 12:04:40  1.127445  2500000
2019-07-03 12:04:40  1.127445  3000000
2019-07-03 12:04:40  1.127445  2000000
2019-07-03 12:04:43  1.127435  4500000
2019-07-03 12:04:43  1.127445  2000000
2019-07-03 12:04:45  1.127445  3000000
2019-07-03 12:04:46  1.127435  5000000
2019-07-03 12:04:47  1.127435  4000000
2019-07-03 12:04:48  1.127445  2000000
2019-07-03 12:04:48  1.127445  3000000
2019-07-03 12:04:48  1.127445  3500000
2019-07-03 12:04:48  1.127445  4500000
2019-07-03 12:04:48  1.127445  3500000
...                       ...      ...
2019-07-03 12:23:27  1.128245  4000000
2019-07-03 12:23:27  1.128245  3000000
2019-07-03 12:23:27  1.128250  5000000
2019-07-03 12:23:27  1.128250  6000000
2019-07-03 12:23:27  1.128250  5000000
2019-07-03 12:23:27  1.128250  4000000
2019-07-03 12:23:28  1.128250  5000000
2019-07-03 12:23:28  1.128245  6000000
2019-07-03 12:23:28  1.128245  5000000
2019-07-03 12:23:28  1.128250  5000000
2019-07-03 12:23:28  1.128250  8000000
2019-07-03 12:23:28  1.128250  5000000
2019-07-03 12:23:28  1.128250  6000000
2019-07-03 12:23:28  1.128250  6500000
2019-07-03 12:23:28  1.128250  9500000
2019-07-03 12:23:28  1.128250  8500000
2019-07-03 12:23:28  1.128250  5500000
2019-07-03 12:23:28  1.128250  6500000
2019-07-03 12:23:28  1.128250  9500000
2019-07-03 12:23:28  1.128250  8500000
2019-07-03 12:23:28  1.128250  5500000
2019-07-03 12:23:28  1.128250  6500000
2019-07-03 12:23:28  1.128245  6000000
2019-07-03 12:23:28  1.128245  5000000
2019-07-03 12:23:28  1.128250  6500000
2019-07-03 12:23:28  1.128250  7500000
2019-07-03 12:23:28  1.128250  6500000
2019-07-03 12:23:28  1.128250  9500000
2019-07-03 12:23:28  1.128250  6500000
2019-07-03 12:23:28  1.128250  5500000

[11330 rows x 2 columns]