# VPIN_IB_query_contract

**Find the market tick data of certain securities from IB**  
Up to 1000 most recent (priceBid, priceAsk, sizeBid, sizeAsk)  
Compute:  
volume = sizeBid + sizeAsk  
midpoint = (priceBid + priceAsk)/2

In [20]:
from ib_insync import *
import pandas as pd
import numpy as np
import datetime
import pytz

In [21]:
util.startLoop()
# Connect to IB API
ib = IB()
ib.connect('127.0.0.1', 7496, clientId=10)

# Security (with certain query format)
# contract = [Future('ES','20191220','GLOBEX')]
contract = [Stock('AMD','SMART','USD')]

In [22]:
# Create a new df in form (time, avg_price, volume) for the contract
def mkt_tick_df(contract):
    
    ib.qualifyContracts(*contract)
    amd = contract[0]
    
    # ticks store the market tick data of the security above
    # one of start or end must be empty
    start = ''
    end = datetime.datetime.now()
    ticks = ib.reqHistoricalTicks(amd, start, end, 1000, 'BID_ASK', useRth=False)
    
    # new df
    df = pd.DataFrame(ticks)
    dftime_local = df['time'].dt.tz_convert('America/New_York')
    df['time'] = pd.to_datetime(dftime_local, '%Y-%m-%d %H:%M:%S').astype(str)
    
    long = len(df)
    df.index = df.time
    avg_price = (df.priceBid + df.priceAsk)/2
    ttl_volume = df.sizeBid + df.sizeAsk

    new_df = pd.DataFrame(np.random.randn(long,2),columns=['price','volume'])
    new_df.index = df.time
    new_df['price'] = avg_price
    new_df['volume'] = ttl_volume
    new_df.index = new_df.index.map(lambda x: str(x)[0:19])
    
    return new_df

In [23]:
mkt_tick_df(contract)

                      price  volume
time
2019-07-03 11:46:13  31.025   30500
2019-07-03 11:46:14  31.025   30600
2019-07-03 11:46:14  31.025   30500
2019-07-03 11:46:14  31.025   30400
2019-07-03 11:46:14  31.025   30500
2019-07-03 11:46:14  31.025   30300
2019-07-03 11:46:14  31.025   31300
2019-07-03 11:46:14  31.025   32200
2019-07-03 11:46:14  31.025   32300
2019-07-03 11:46:14  31.025   33500
2019-07-03 11:46:14  31.025   34800
2019-07-03 11:46:14  31.025   35300
2019-07-03 11:46:14  31.025   36200
2019-07-03 11:46:14  31.025   41300
2019-07-03 11:46:14  31.025   40400
2019-07-03 11:46:14  31.025   39900
2019-07-03 11:46:14  31.025   34500
2019-07-03 11:46:14  31.025   34600
2019-07-03 11:46:14  31.025   35000
2019-07-03 11:46:14  31.025   39300
2019-07-03 11:46:14  31.025   40200
2019-07-03 11:46:14  31.025   40100
2019-07-03 11:46:14  31.025   39800
2019-07-03 11:46:14  31.025   35500
2019-07-03 11:46:14  31.025   35900
2019-07-03 11:46:14  31.025   36400
2019-07-03 11:46:14  31.025   41800
2019-07-03 11:46:14  31.025   42800
2019-07-03 11:46:14  31.025   41800
2019-07-03 11:46:14  31.025   41900
...                     ...     ...
2019-07-03 11:46:34  31.005   32400
2019-07-03 11:46:34  31.005   32500
2019-07-03 11:46:34  31.005   32100
2019-07-03 11:46:34  31.005   32300
2019-07-03 11:46:34  31.005   32600
2019-07-03 11:46:34  31.005   32400
2019-07-03 11:46:34  31.005   32100
2019-07-03 11:46:34  31.005   31600
2019-07-03 11:46:34  31.005   32100
2019-07-03 11:46:34  31.005   32300
2019-07-03 11:46:34  31.005   33000
2019-07-03 11:46:34  31.005   33100
2019-07-03 11:46:34  31.005   33400
2019-07-03 11:46:34  31.005   33500
2019-07-03 11:46:34  31.005   33900
2019-07-03 11:46:34  31.005   34000
2019-07-03 11:46:34  31.005   34200
2019-07-03 11:46:34  31.005   34400
2019-07-03 11:46:34  31.005   34700
2019-07-03 11:46:34  31.005   35400
2019-07-03 11:46:34  31.005   35900
2019-07-03 11:46:34  31.005   35800
2019-07-03 11:46:34  31.005   36200
2019-07-03 11:46:34  31.005   36700
2019-07-03 11:46:34  31.005   36000
2019-07-03 11:46:34  31.005   35900
2019-07-03 11:46:34  31.005   36000
2019-07-03 11:46:34  31.005   36100
2019-07-03 11:46:34  31.005   36300
2019-07-03 11:46:34  31.005   36400

[1046 rows x 2 columns]